<div class="container ">
  <div class="navbar">
    <nav>
        <ul class="nav nav-tabs">
          <li class="navigation-tab"><%= link_to "Home", sessions_path %></li>
          <li class="navigation-tab"><%= link_to "Agents", agents_path %></li>
          <li class="navigation-tab"><%= link_to "Manage Jobs ", jobs_path %></li>
          <li class="navigation-tab"><%= link_to "Loose Shifts", shifts_path %></li>
          <li class="navigation-tab"><%= link_to "Agent Timesheets", timesheet_weeks_path %></li>
          <li class="navigation-tab"><%= link_to "Info and Forms", info_forms_path %></li>
          <li class="navigation-tab"><%= link_to "Log Out", logout_path, method: :delete %></li>
        </ul>
    </nav>
   </div>
  <h4>Administrator: <%= session_handle %></h4>
</div>  <!-- /.container -->
