<!DOCTYPE html>
<html>
<head>
  <title>spot-ON Merchandising</title>
  <%= favicon_link_tag 'favicon.ico' %>  
  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <meta name="viewport" content="width-device-width, intial-scale=1">
</head>
  <body>

  <div class="jumbotron"> 
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-offset-3" id="logo_icon">       
            <!-- <div id="logo_icon"> -->
              <%= image_tag "spot-on_logo.svg", id: "logo"%>
        </div>        
      </div>  
    </div>
  </div>   

    <div class="container">
      <div class="col-xs-12 col-md-5 col-md-offset-3">    	  
        <h4><strong><em>Welcome to the Spot-ON Contractor Portal.</em><strong></h4>    			
    			<p>Please Log In:</p>
      </div>
    </div>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">          
              <% flash.each do |name, msg| %>
                <span><%= content_tag :div, msg, class: "alert alert-#{name}" %></span>                           
              <% end %> 
            </div>
          </div>            
        </div>
   
<div class="container" id="log_in">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username, "UserName" %>
        <%= f.text_field :username, class: 'form-control', autofocus: :true %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %><br>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

  	</div>
  </div>
</div>

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
      <p>&copy; 2015 Ralph Johnson  <span><a href="#">  spot-ON Merchandising Home Page</span></p>
      </div>
    </div>
