<!DOCTYPE html>
<html>
<head>
  <title>WSM Portal</title>
  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width-device-width, intial-scale=1">
</head>
  <body>
    <div class="container">
      
        <header>
          <div id="logo_icon">
            <%= image_tag "wsm_lighter_logo.png" %>
          </div>
          <h2>Wasatch Sales & Marketing</h2>      
        </header>
    
  </div>   

<div class="container">
  <div class="col-md-6 col-md-offset-3">
	  <div class="jumbotron">
    <h2><strong>WSM Login Page<strong></h2>
			<h3><em>Welcome to the WSM Contractor Portal.</em><h3><br> 
			<p>Please Log In to update your personal information, find available jobs, check your schedule, report completed shifts, or download useful documents</p>
	 </div>
  </div>
</div>

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">          
              <% flash.each do |name, msg| %>
                <span><%= content_tag :div, msg, class: "alert alert-#{name}" %></span>                           
              <% end %> 
            </div>
          </div>            
        </div>
   
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :username, "UserName" %>
        <%= f.text_field :username, class: 'form-control', autofocus: :true %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %><br>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

  	</div>
  </div>
</div>
