

<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <div class="banner">
        <h4>Assigned Shifts for: <%= session_handle %></h4>
      </div>
      <div><% if @shooks.empty? %>
          <h6><strong><%= "There are no assigned shifts to display" %></strong></h6>
          <% end %>
          </div>
        <div class="headings">
          <ul>
              <li class="si_link"></li>
              <li class="pj">Project</li>
              <li class="s_name">Store Name</li>
              <li class="s_num">Store#</li>
              <li class="s_addy">Address</li>
              <li class="s_city">City</li>
              <li class="s_state">State</li>
              <li class="s_zip">Zip</li>
              <li class="w_date">Date</li>
              <li class="w_time">Time</li>
              <li class="w_hrs">Hrs</li>
              <li class="w_rate">Rate</li>
              <li></li>
          </ul>
        </div>

        <% @shooks.each do |s| %>
        <div class="job_data">
         <ul>
            <li class="si_link"><b><%= link_to "Sign In", sign_in_page_shook_path(s) if !s.signed_in? %></b></li>
            <li class="pj"><strong><%= s.shift.job.project %></strong></li>
            <li class="s_name">><%= s.shift.job.store_name %></li>
            <li class="s_num"><%= s.shift.job.store_num %></li>
            <li class="s_addy"><%= s.shift.job.address %></li>
            <li class="s_city"><%= s.shift.job.city %></li>
            <li class="s_state"><%= s.shift.job.state %></li>
            <li class="s_zip"><%= s.shift.job.zip %></li>
            <li class="w_date"><%= s.date.strftime("%^a %m/%d/%y") %></li>
            <li class="w_time"><%= s.shift.job.time.strftime("%I:%M%p") %></li>
            <li class="w_hrs"><%= s.shift.hours %></li>
            <li class="w_rate"><%= number_to_currency(s.jhook.wage_rate) %></li>
            <li><%= link_to "Time Report", new_shook_timesheet_path(s) %></li>
        </ul>
        </div>

        <% end %>

      </div>
    </div>
  </div>

<br><br><br><br>
