

<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <div class="banner">
        <h4>Assigned Shifts for: <%= session_handle %></h4>
      </div>
      <div><% if @shooks.empty? %>
          <h6><strong><%= "There are no assigned shifts to display" %></strong></h6>
          <% end %>
          </div>
      <table>
          <tr> 
              <th></th>             
              <th>Job#</th>
              <th>Project</th>            
              <th>Store Name</th>
              <th>Store#</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Date</th>
              <th>Time</th>
              <th>Hrs</th>  
              <th>Rate</th>               
              <th></th>                   
          </tr>  
            

        <% @shooks.each do |s| %>      

         <tr>
            <td><b><%= link_to "Sign In", sign_in_page_shook_path(s) if !s.signed_in? %></b></td>            
            <td><%= s.shift.job.job_num %></td>
            <td><strong><%= s.shift.job.project %></strong></td>              
            <td><%= s.shift.job.store_name %></td>
            <td><%= s.shift.job.store_num %></td>
            <td><%= s.shift.job.address %></td>
            <td><%= s.shift.job.city %></td>
            <td><%= s.shift.job.state %></td>
            <td><%= s.shift.job.zip %></td>
            <td><%= s.date.strftime("%^a %m/%d/%y") %></td>
            <td><%= s.shift.job.time.strftime("%I:%M%p") %></td>
            <td><%= s.shift.hours %></td> 
            <td><%= number_to_currency(s.jhook.wage_rate) %></td>
            <td><%= link_to "Time Report", new_shook_timesheet_path(s) %></td>           
        </tr>    
              
        <% end %>
      </table>
      </div>
    </div>
  </div>

<br><br><br><br>

