<div class="container-fluid">
  <div class="row">
     <div class="col-md-9 col-md-offset-1">

      <div class="container-fluid">
        <div class="row" id="new-jobs">
          <div class="col-md-3">
            <%= button_to 'Add New Job-Project', new_job_path, method: :get, class: 'btn btn-info' %></li>
          </div>          
      </div>

      <% @jobs.each do |job| %>

          <div><% if @jobs.empty? %>
                  <h6><strong><%= "There are no jobs to display" %></strong></h6>
                <% end %>
          </div>

       <div class="big_name" %>
             <h5><b><i>Job# <%= job.job_num %> | <%= job.project %> | <%= job.store_name %> # <%= job.store_num %>
              | <%= job.address %>, <%= job.city %>, <%= job.state %> <%= job.zip %></i></b></h5>
       </div><br>

      <div class="headings">
        <ul>
            <li class="w_s_date">Strt Date</li>
            <li class="w_e_date">End Date</li>
            <li class="w_time">Strt Time</li>
            <li class="w_hrs">Hrs</li>
            <li class="w_man">#Agts Req'd</li>
            <li class="w_agts">#All In</li>
            <li class="w_partial">#Partial</li>
            <li class="w_assd">#Assigned</li>

        <ul>
      </div>
      <br>

      <div class="job_data">
        <ul>
          <li class="w_s_date"><%= job.formatted_start_date %></li>
          <li class="w_e_date"><%= job.formatted_end_date %></li>
          <li class="w_time"><%= job.formatted_time %></li>
          <li class="w_hrs"><%= job.sched_hrs %></li>
          <li class="w_man"><%= job.manpower %></li>
          <li class="w_agts"><%= job.jhooks.all_in.count %></li>
          <li class="w_partial"><%= job.jhooks.partial.count %></li>
          <li class="w_assd"><%= job.jhooks.assigned.count %></li>
        </ul>
      </div>


      <div class="j_admin_links">
        <ul>
          <li class="f_edit"> <%= button_to 'Edit', edit_job_path(job), method: :get, class: 'btn btn-primary btn-sm' %></li>
          <li class="f_delete"> <%= button_to 'Delete', job, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></li>
          <li class="team_lead">  <%= button_to 'Assign Team Lead', assign_team_lead_job_jhooks_path(job), method: :get, class: 'btn btn-primary btn-sm' %></li>
          <li class="jhook_feed"> <%= button_to 'Assign Agts', available_agents_job_jhooks_path(job), method: :get, class: 'btn btn-primary btn-sm' %></li>
          <li class="manual">  <%= button_to 'Manual Assign', assign_manual_job_jhooks_path(job), method: :get, class: 'btn btn-primary btn-sm' %></li>
          <li class="jhook_unfeed"> <%= button_to 'Remove Agts', remove_agents_job_jhooks_path(job), method: :get, class: 'btn btn-primary btn-sm' %></li>
          <li class="calendr">  <%= button_to 'Calendar', availability_calendar_job_shifts_path(job), method: :get, class: 'btn btn-primary btn-sm' %></li>
        </ul>
      </div>

      <% end %>
      </div>
  </div>
</div>
