
<span>
<h3>Job# <%= @job.job_num %>: <%= @job.project %></h3>
<h4><%= @job.store_name %> Store #<%= @job.store_num %> -- <%= @job.address %>, <%= @job.city %>, <%= @job.state %> - <strong>Start Date: <%= @job.start_date.strftime("%A, %b %d, %Y") %></strong></h4></span>

<%= form_for(@jhook) do |f| %>
  <%= f.submit "Submit Changes", class: "btn btn-success" %>
    <span id="global">
      <%= f.hidden_field :job_id, :value => @job.id %>
      <%= f.radio_button :state, "all_in" %>    
      <%= f.label  :state_all_in, "Available for All Shifts" %><span>  ~~~~~~  </span>
      <%= f.radio_button :state,  "unavailable" %>  
      <%= f.label  :state_unavailable, "Unavailable for Any Shifts" %><span> ~~~~~~  </span> 
      <%= f.radio_button :state, "selected_shifts" %>  
      <%= f.label  :state_selected_shifts, "Selected Shifts (Click 'Submit Changes' to Edit)" %> 
      <span id="comment"><strong>Comments--(date conflicts, etc)</strong><br>
        <%= f.text_area :comment, :size => "30x5" %></span>
<% end %>      
    </span><br>
  
<div id="shifts">
      <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>
      <p><strong>Job Shifts may overlap into following month (use arrows to view)</strong></p>      
    <%= calendar @date do |date| %>
      <%= date.day %>
        <% if @shifts_by_date[date] %>
          <ul>
            <% @shifts_by_date[date].each do |shift| %>
              <li><%= shift.job.project %> <%= shift.job.time.strftime("%I:%M%p") %></li> 
            <% end %>
          </ul>
        <% end %> 
    <% end %>  
</div>


