<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">

        <div class="banner">
          <h5>WSM Weekly Invoice for Field Agent: <b><%= @agent.handle %></b>, Week of <b><%=@timesheets.first.week_beginning %></b> to <b><%=@timesheets.first.week_ending %></b></h5>
        </div><br><br><br>

<%= form_tag admin_approve_path, method: :put do %>
  <p><%= submit_tag 'Submit Updates', class: "btn btn-success" %> <b><%= link_to "  Back to Agent Timesheet List  ", timesheet_weeks_path %></b>

      <div>
        <% day = 0 %>
          <% w = 1 %>

          <ul>
            <li>Day</li>
            <li>Date</li>
            <li>StoreName/Num</li>
            <li>City/State</li>
            <li>Time In</li>
            <li>Time Out</li>
            <li>Break (mins)</li>
            <li>Total Hrs</li>
            <li>Mileage </li>
            <li>Drive Time </li>
            <li>Exp. $</li>
            <li>OnSite Mgr</li>
            <li>Team Lead OK</li>
            <li>Admin Auth.</li>
          </ul>

            <% @timesheets.each do |timesheet| %>
                <ul>
                  <li><%= sidebar_day[day] %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.formatted_date : "" %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.shook.shift.job.store_name : ""  %><%= timesheet.date.wday == w ? " #" + timesheet.shook.shift.job.store_num : "" %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.shook.shift.job.city : "" %><%=  timesheet.date.wday == w ? ", " + timesheet.shook.shift.job.state : "" %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.formatted_time_in  : "" %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.formatted_time_out  : "" %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.break_minutes : ""  %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.total_hrs : ""  %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.miles : ""  %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.drive_time : ""  %></li>
                  <li><%= timesheet.date.wday == w ? number_to_currency(timesheet.expenses) : ""  %></li>
                  <li><%= timesheet.date.wday == w ? timesheet.contact : ""  %></li>
                  <li><b><%= timesheet.date.wday == w ? timesheet.team_lead_ok_chk : ""  %></b></li>
                    <%= fields_for "timesheets[]", timesheet do |f| %>
                      <li><%= f.label :approved, ">> "  %></i></b><%= f.check_box :approved %></li>
                    <% end %>
                </ul>
               <b><%= "Team Lead Note: " if timesheet.team_lead_note.present? %></b><%= timesheet.team_lead_note %>
              <% w += 1 %>
            <% day += 1 %>
          <% end %>


      </div>
    </div>
  </div>
</div><br><br><br><br>
<% end %>

<script>

$ ->;
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   }
   else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
</script>
