<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :shift_date %><br>
    <%= f.date_select :shift_date %>
  </div>
  <div class="field">
    <%= f.label :shift_hrs %><br>
    <%= f.number_field :shift_hrs %>
  </div>
  <div class="field">
    <%= f.label :shift_req_agents %><br>
    <%= f.number_field :shift_req_agents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
