<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
    <div class="container">
      <div class="row">
         <div class='col-md-4' > 
            <div class="field">
              <%= f.label "Name" %>
              <h4><%= @agent.handle %></h4>
            </div>          
            <div class="field">
              <%= f.label :address %><br>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label :city %><br>
              <%= f.text_field :city, class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label :state %><br>
               <%= f.select(:state, options_for_select(us_states, "  ")) %>
            </div>
            <div class="field">
              <%= f.label :zip %><br>
              <%= f.text_field :zip, class: 'form-control' %>
            </div>
        </div>
    
        <div class='col-md-4'>
            <div class="field">
              <%= f.label :phone %><br>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
            <div class="field">
              <%= f.label :email %><br>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class='actions'>
              <p style="margin-top: 30px"><%= f.submit "Update Agent Profile", class: "btn btn-primary" %></p><br>
              <%= render current_user_edit_links %>
            </div>
        </div>       

         
      </div>
    </div>
<% end %>