<div class="banner">
  <h2>WSM Field Agents</h2>
</div>


<% @agent.each do |agent| %>

  <div class="big_name" %>      
      <h4><%= agent.first_name %> <%=  agent.last_name %> </h4>
  </div>  

        <div class="headings">
          <ul>
            <li id="addy">Address</li>
            <li id="town">City</li>
            <li id="st">State</li>
            <li id="zip">Zip</li>
            <li id="ph">Phone</li>
            <li id="em">Email</li>
            
          </ul>
      </div>
      <br>

      <div class="data">
            <ul>
              <li id="f_addy"><%= agent.address %></li>
              <li id="f_town"><%= agent.city %></li>
              <li id="f_st"><%= agent.state %></li>
              <li id="f_zip"><%= agent.zip %></li>
              <li id="f_ph"><%= number_to_phone(agent.phone, area_code: true) %></li>
              <li id="f_em"><%= agent.email %></li>
              
            </ul> 
      </div> 
      <br>   
     <span class="admin">
      | <%= link_to 'Edit Agent Login Credentials', edit_user_path(agent) %> 
      | <%= link_to 'Edit Agent Profile', edit_agent_path(agent) %> 
      | <%= link_to 'Delete', agent, method: :delete, data: { confirm: 'Are you sure?' } %>
             
     </span>
        

<% end %> 