<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
        <div class="banner">
					<h4><%= "Active Jobs For Team Lead: " %><%= current_agent.handle %></h4>
				</div><br><br><br>
				<p><b><%= link_to "Back to Home Page", sessions_path %></b></p>

			<div>
					<div class="headings">
						<ul>
							<li class="j_num">Job #</li>
							<li class="pj">Project</li>
							<li class="s_name">Store</li>
							<li class="s_num">Store #</li>
							<li class="w_start_date">StartDate</li>
							<li class="w_end_date">EndDate</li>
							<li class="w_agts">Agents</li>
							<li class="tl_link"> </li>
						</ul>
					</div>
					<% @jobs.each do |job| %>
					<div class="job_data">
						<ul>
							<li class="j_num"><%= job.job_num %></li>
							<li class="pj"><%= job.project %></li>
							<li class="s_name"><%= job.store_name%></li>
							<li class="s_num"><%= job.store_num %></li>
							<li class="w_start_date"><%= job.start_date%></li>
							<li class="w_end_date"><%= job.end_date%></li>
							<li class="w_agts"><%= job.jhooks.assigned.count%></li>
							<li class="tl_link"><%= link_to "Crew Timesheets", team_lead_ok_path(job) %></li>
						</ul>
					</div>	
					<% end %>
					

			</div><br><br><br><br>
		</div>
	</div>
</div>
