<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
        <div class="banner">
					<h4><%= "Active Jobs For Team Lead: " %><%= current_agent.handle %></h4>
				</div><br><br><br>
				<p><b><%= link_to "Back to Home Page", sessions_path %></b></p>

			<div>

						<ul>
							<li>Job #</li>
							<li>Project</li>
							<li>Store</li>
							<li>Store #</li>
							<li>StartDate</li>
							<li>EndDate</li>
							<li>Agents</li>
							<li> </li>
						<ul>

					<% @jobs.each do |job| %>

						<ul>
							<li><%= job.job_num %></li>
							<li><%= job.project %></li>
							<li><%= job.store_name%></li>
							<li><%= job.store_num %></li>
							<li><%= job.start_date%></li>
							<li><%= job.end_date%></li>
							<li><%= job.jhooks.assigned.count%></li>
							<li><%= link_to "Crew Timesheets", team_lead_ok_path(job) %></li>
						<ul>
					<% end %>


			</div><br><br><br><br>
		</div>
	</div>
</div>
