<div class="banner">
  <h4>WSM Reported Shifts for: <%= session_handle %></h4>
</div>


<div class="sh_headings">
  <ul>
      <li class="pj">Project</li>      
      <li class="s_name">Name</li>
      <li class="s_num">Store#</li>
      <li class="s_addy">Address</li>
      <li class="s_city">City</li>
      <li class="s_state">State</li>
      <li class="s_zip">Zip</li>
      <li class="w_date">Date</li> 
      <li class="w_in">TimeIn</li> 
      <li class="w_out">TimeOut</li>
      <li class="w_break">BreakMin</li>    
      <li class="w_hrs">Hrs</li>         
  <ul>
</div>  

	<div><% if @shooks.empty? %>
    <h6><strong>There are no reported shifts to display</strong></h6>
    <% end %>
    </div>   

  <% @shooks.each do |s| %>      

    <div class="shift_data">
      <ul>
        <li class="pj"><strong><%= s.shift.job.project %></strong></li>        
        <li class="s_name"><%= s.shift.job.store_name %></li>
        <li class="s_num"><%= s.shift.job.store_num %></li>
        <li class="s_addy"><%= s.shift.job.address %></li>
        <li class="s_city"><%= s.shift.job.city %></li>
        <li class="s_state"><%= s.shift.job.state %></li>
        <li class="s_zip"><%= s.shift.job.zip %></li>
        <li class="w_date"><%= s.date.strftime("%a %m/%d/%y") %></li> 
        <li class="w_in"><%= s.timesheet.time_in.strftime("%I:%M %p") %></li> 
        <li class="w_out"><%= s.timesheet.time_out.strftime("%I:%M %p") %></li>
        <li class="w_break"><%= s.timesheet.break_minutes %></li>       
        <li class="w_hrs"><%= s.timesheet.total_hrs %></li>
    </div> <br>
    <div class="agent_links">
     <p><b>Time Report Submitted:  </b><%= s.timesheet.created_at.in_time_zone('US/Pacific').strftime('%a, %b %-d, %I:%M %p') %> 
          <b><%= "  ||   Mileage: " if s.timesheet.miles.present? %></b><%= s.timesheet.miles %><b><%= " | Drive Time:" if s.timesheet.drive_time.present? %></b><%= s.timesheet.drive_time %><b><%= " | Expenses: " if s.timesheet.expenses.present? %></b><%= number_to_currency s.timesheet.expenses %></p>
     <p>Comments: <%= s.timesheet.comments %> 
    </div>  

  <% end %>
  


