<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <div class="banner">
        <h4>Reported Shifts for: <%= session_handle %></h4>
      </div>

      <div><% if @shooks.empty? %>
          <h6><strong><%= "There are no reported shifts to display" %></strong></h6>
          <% end %>
      </div> 

      <% @shooks.each do |s| %>  

      <div class="headings">
        <ul>           
            <li class="pj">Project</li>            
            <li class="s_name">Store Name</li>
            <li class="s_num">Store#</li>
            <li class="s_addy">Address</li>
            <li class="s_city">City</li>
            <li class="s_state">State</li>            
            <li class="w_date">Date</li>
            <li class="w_in">Time In</li>
            <li class="w_out">Time Out</li>
            <li class="w_break">Break Min</li>            
            <li class="w_hrs">Hrs</li>                   
        </ul>            
      </div>
      <div class="job_data">
        <ul>
              <li class="pj"><strong><%= s.shift.job.project %></strong></li>              
              <li class="s_name"><%= s.shift.job.store_name %></li>
              <li class="s_num"><%= s.shift.job.store_num %></li>
              <li class="s_addy"><%= s.shift.job.address %></li>
              <li class="s_city"><%= s.shift.job.city %></li>
              <li class="s_state"><%= s.shift.job.state %></li>              
              <li class="w_date"><%= s.date.strftime("%^a %m/%d/%y") %></li>
              <li class="w_in"><%= s.timesheet.time_in.strftime("%I:%M %p") %></li> 
              <li class="w_out"><%= s.timesheet.time_out.strftime("%I:%M %p") %></li>
              <li class="w_break"><%= s.timesheet.break_minutes %></li>               
              <li class="w_hrs"><%= s.timesheet.total_hrs  %></li>              
          </ul> 
        <table>  
          <tr>
          <td><b>Time Report Submitted:  </b>
            <%= s.timesheet.created_at.in_time_zone.strftime('%a, %b %-d, %I:%M %p') %> 
          <td><b><%= "Mileage: " if s.timesheet.miles.present? %></b><%= s.timesheet.miles %></td>
          <td><b><%= "Drive Time:" if s.timesheet.drive_time.present? %></b><%= s.timesheet.drive_time %></td>
          <td><b><%= "Expenses: " if s.timesheet.expenses.present? %></b><%= number_to_currency s.timesheet.expenses %></td>
          </tr>
          <tr>
            <td><b><%= "Comments: " if s.timesheet.comments.present? %></b><%= s.timesheet.comments %></p></td>
        </tr> 
        </table>
      </div>      
        <% end %>
      
    </div>
  </div>
</div> 




