<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <div class="banner">
        <h4>WSM Reported Shifts for: <%= session_handle %></h4>
      </div>

      <div><% if @shooks.empty? %>
          <h6><strong><%= "There are no reported shifts to display" %></strong></h6>
          <% end %>
      </div> 

      <% @shooks.each do |s| %>  

      <table>
        <tr>           
            <th>Project</th>            
            <th>Store Name</th>
            <th>Store#</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>            
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Break Min</th>            
            <th>Hrs</th>                   
        </tr>            

        <tr>
              <td><strong><%= s.shift.job.project %></strong></td>              
              <td><%= s.shift.job.store_name %></td>
              <td><%= s.shift.job.store_num %></td>
              <td><%= s.shift.job.address %></td>
              <td><%= s.shift.job.city %></td>
              <td><%= s.shift.job.state %></td>              
              <td><%= s.date.strftime("%^a %m/%d/%y") %></td>
              <td><%= s.timesheet.time_in.strftime("%I:%M %p") %></li> 
              <td><%= s.timesheet.time_out.strftime("%I:%M %p") %></li>
              <td><%= s.timesheet.break_minutes %></li>               
              <td><%= s.timesheet.total_hrs  %></td>              
          </tr> 
          <tr>
          <td><b>Time Report Submitted:  </b>
            <%= s.timesheet.created_at.in_time_zone.strftime('%a, %b %-d, %I:%M %p') %> 
          <td><b><%= "Mileage: " if s.timesheet.miles.present? %></b><%= s.timesheet.miles %></td>
          <td><b><%= "Drive Time:" if s.timesheet.drive_time.present? %></b><%= s.timesheet.drive_time %></td>
          <td><b><%= "Expenses: " if s.timesheet.expenses.present? %></b><%= number_to_currency s.timesheet.expenses %></td>
        </tr>
        <tr>
          <td><b><%= "Comments: " if s.timesheet.comments.present? %></b><%= s.timesheet.comments %></p><td>
        </tr>     
        <% end %>
      </table>
    </div>
  </div>
</div> 




