<div class="container-fluid">
  <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <div class="banner">
        <h4>Completed Shifts for: <%= session_handle %></h4>
      </div>

      <div class="headings">
        <ul>
            <li>Job#</li>
            <li>Project</li>
            <li>Store Name</li>
            <li>Store#</li>
            <li>Address</li>
            <li>City</li>
            <li>State</li>
            <li>Zip</li>
            <li>Date</li>
            <li>Time</li>
            <li>Hrs</li>
            <li>Wages</li>
        </ul>
      </div>
          <div><% if @shooks.empty? %>
          <h6><strong><%= "There are no completed shifts to display" %></strong></h6>
          <% end %>
          </div>

        <% @shooks.each do |s| %>
        <div class="job_data">
          <ul>
              <li><%= s.shift.job.job_num %></li>
              <li><strong><%= s.shift.job.project %></strong></li>
              <li><%= s.shift.job.store_name %></li>
              <li><%= s.shift.job.store_num %></li>
              <li><%= s.shift.job.address %></li>
              <li><%= s.shift.job.city %></li>
              <li><%= s.shift.job.state %></li>
              <li><%= s.shift.job.zip %></li>
              <li><%= s.date.strftime("%^a %m/%d/%y") %></li>
              <li><%= s.shift.job.time.strftime("%I:%M%p") %></li>
              <li><%= s.shift.hours %></li>
              <li><%= number_to_currency(s.timesheet.computed_wages) %></li>
          </ul>
         </div> 
        <% end %>

    </div>
  </div>
</div>
