<!DOCTYPE html>
<html>
<head>
  <title>WSM Portal</title>
  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width-device-width, intial-scale=1">
</head>
	<body>	
		<div class="container">	
				<header>
						<div id="logo_icon">
							<%= image_tag "wsm_lighter_logo.png" %>
						</div>
						<h2>Wasatch Sales & Marketing</h2>
				</header>

				<div id="user_nav">
						<%= render current_user_nav %> 
				</div>

				<div class="container">
					<div class="row">
			  		<div class="col-md-6 col-md-offset-3">					
							<% flash.each do |name, msg| %>
								<span><%= content_tag :div, msg, class: "alert alert-#{name}" %></span>														
							<% end %>	
						</div>
					</div>						
				</div>

					

			<div class="page-wrap">			

						<%= yield %>

			


				<div class="site_footer">
					<p>&copy; 2015 Ralph Johnson </p>
				</div>	

			</div>	
		</div>				
		
	</body>

</html>


